<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENWEATHERMAP_API_KEY</key>
	<string>14716359786f0c3d3041b6a1c8d2bb01</string>
	<key>OPENROUTER_AI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
